.Profile {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  color: inherit;
  border-bottom: 1px solid;
  padding-bottom: 1em;
  &-top {
    display: flex;
    gap: 1em;
    flex: 1;
    &-data-row {
      font-size: small;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
    &-logo {
      flex: 1;
      img {
        border-radius: 5px;
        width: 100%;
        min-width: 70px;
      }
    }
  }
  &-bottom {
    color: inherit;
    p {
      text-align: start;
      margin: 0;
    }
  }
}