.Profile {
  display: flex;
  gap: 1em;
  flex: 1;
  margin: 2em 0;
  &-data-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  &-logo {
    flex: 1;
    img {
      width: 100%;
      min-width: 100px;
    }
  }
}