html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: .5s background;
  background: #2E8BC0;
  color: white;
  &-PASS {
    background: #5289B5;
  }
  &-DRIVER_LICENSE {
    background: #2E8BC0;
  }
  &-SHIELD {
    background: #0C4160;
  }
  
  &-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  &-page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: inherit;
    max-width: inherit;
  }
}
